src/aavm.o
src/accesspred.o
src/arena.o
src/ast.o
src/backend_aa.o
src/backend.o
src/backend_z.o
src/blorb.o
src/compile.o
src/crc32.o
src/debugger.o
src/dumb_output.o
src/dumb_report.o
src/eval.o
src/frontend.o
src/fs_tty.o
src/output.o
src/parse.o
src/report.o
src/runtime_z.o
src/term_tty.o
src/unicode.o
src/dgdebug
src/dialogc
